@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
}
.header {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppins';
    font-weight: bold;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
}

h2 {
    color: #b326ab;
}

li {
    font-family: 'poppins';
}

.header__menu ul {
    display: flex;
}

.header__menu__item {
    font-size: 1rem;
    margin: 0 5px 15px;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px;
}

.header__menu__item:hover {
    border: solid 1px #b326ab;
    border-radius: 25px;
}

.signin__button {
    border: solid 1px #b326ab;
    border-radius: 25px;
}

.signin__button:hover {
    border: solid 1px white;
    border-radius: 25px;
    background-color: #b326ab;
    color: white;
}

.secao__formulario {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
}

.imagem {
    width: 700px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

img {
    margin: 60px 0px 0px 0;
    max-width: 70%;
}

.lateral {
    width: 500px;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto {
    padding: 5px;
    width: 100%;
    height: 17vh;
}

h1 {
    font-family: 'poppins';
    color: #b326ab;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

p {
    text-align: end;
    font-family: 'poppins';
    font-weight: 900;
    margin: 0px 80px 0px 0px;
}

main {
    width: 100%;
    height: 950px;
}

.input {
    width: 350px;
    height: 45px;
    border: 1px solid #afafaf;
    box-shadow: 0px 8px 5px #afaeaf;
    border-radius: 25px;
    display: flex;
    margin: 10px;
}

.input i {
    margin: 15px 0px 0px 10px;

}

input {
    width: 310px;
    border: none;
    margin: 12px;
    border-radius: 25px;
    outline: none;
}

textarea {
    border-radius: 10px;
    width: 340px;
    padding: 8px;
    border: none;
    outline: none;
}

.input__txt {
    margin-top: 15px;
    border: solid 1px black;
    border-radius: 10px;
    width: 350px;
    padding: 8px;
    border: 1px solid #afafaf;
    box-shadow: 0px 8px 5px #afaeaf;
    display: flex;
    justify-content: center;
}

.input__txt i {
    margin-top: 10px;
}

.formulario {
    margin-top: 95px;
    width: 300px;
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensagem,
#nomeUsuario,
#emailUsuario {
    font-family: 'poppins';
    font-weight: 900;
}

.btn {
    display: flex;
    margin: 20px 50px 0 45px;
}

.secao__formulario {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: #f585ef;
    border-radius: 25px;
    border: 1px solid #afaeaf;
    width: 150px;
    height: 35px;
}

button:hover {
    cursor: pointer;
    border-color: #b326ab;
    background-color: white;

}

footer {
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 25px;
}

@media(max-width:1100px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .header {

        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .linha {
        width: 30px;
        height: 3px;
        background-color: #b326ab;
        margin: 5px;
    }

    .linha:hover {
        cursor: pointer;
    }

    .header__menu {
        position: relative;
    }

    .hamburger {
        position: absolute;
        right: 0;
        top: -15px;
        cursor: pointer;
    }

    .hamburger:hover {
        background-color: white;
        border-radius: 150px;
    }

    li {
        margin: 5px;
    }

    .links__menu {
        width: 200px;
        height: 250px;
        padding-right: 19px;
        background-color: #f585ef;
        position: fixed;
        right: -100vw;
        top: 10vh;
        z-index: 2;
        transition: 1s;
        flex-direction: column;
        padding: 5% 5% 5% 5%;
        align-items: flex-start;
        font-family: 'poppins';
        border-radius: 15px 0px 0px 15px;
    }

    button {
        margin: 15px 30px 0px 0px;
    }

    .links__menu.open {
        right: 0px;
    }

    .pagina__inteira {
        margin-top: 50px;
        height: 79vh;
    }

    .imagem {
        display: none;
    }

}
